@import 'variables';

section {
    &.block-style-light {
        color: $white;
        h1,h2,h3,h4,h5,h6 {
            color: $white;
        }
        .eyebrow {
            border-color: $white;
            color: $white;
        }
        &.hero {
            &.style-cropped-wave {
                background: $pink;
            }
        }
        &.banner_content {
            .middle {
                background-color: $banner-light-bg;
                @media all and (min-width: $mobile) {
                    padding-top: 4%;
                }
                @media all and (max-width: $mobile) {
                    padding-top: 10%;
                }
            }
            .top {
                background-image: url('../img/bg/banner-light-top.png');
                padding-bottom: 15%;
                @media all and (max-width: $mobile) {
                    padding-bottom: 35%;
                }
            }
            .bottom {
                background-image: url('../img/bg/banner-light-bottom.png');
                padding-bottom: 27%;
                margin-top: -9%;
                @media all and (max-width: $mobile) {
                    padding-bottom: 57%;
                    margin-top: -20%;
                }
            }
        }
    }
    &.block-style-dark {
        .btn {
            background: $light-purple;
            &:hover,
            &:active,
            &:focus {
                background: $purple;
            }
        }
        .eyebrow {
            border-color: $dark-purple;
            color: $dark-purple;
        }
        &.hero {
            &.style-cropped-wave {
                background: $tan;
            }
        }
        &.banner_content {
            .middle {
                @media all and (min-width: $mobile) {
                    background-color: $banner-dark-bg;
                }
                @media all and (max-width: $mobile) {
                    margin-top: -20%;
                }
            }
            .top {
                background-image: url('../img/bg/banner-dark-top.png');
                padding-bottom: 19.5%;
                @media all and (max-width: $mobile) {
                    padding-bottom: 50%;
                }
            }
            .bottom {
                background-image: url('../img/bg/banner-dark-bottom.png');
                padding-bottom: 28%;
                margin-top: -12%;
                @media all and (max-width: $mobile) {
                    padding-bottom: 55%;
                    margin-top: -43%;
                }
            }
        }
    }
    /* Background Images */
    &.hero {
        &.style-full {
            @media all and (min-width: $tablet) {
                padding: $gutter * 10 0 $gutter * 20 0;
            }
            @media all and (max-width: $tablet) {
                padding: $gutter * 8 0 $gutter * 10 0;
            }
            @media all and (max-width: $mobile) {
                padding: $gutter * 6 0 $gutter * 6 0;
            }
            .background-image {
                position: absolute;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
            }
        }
        &.style-cropped-wave {
            @media all and (max-width: $mobile) {
                display: flex;
                flex-direction: column-reverse;
            }
            @media all and (min-width: $tablet) {
                padding: calc(100vw / 8) 0 calc(100vw / 6) 0;
            }
            @media all and (max-width: $tablet) {
                padding: calc(100vw / 8) 0 calc(100vw / 6) 0;
            }
            @media all and (max-width: $mobile) {
                padding: $gutter * 2 0 0 0;
            }
            .background-image {
                position: absolute;
                background-size: cover;
                background-repeat: no-repeat;
                width: 50%;
                height: 90%;
                left: 50%;
                bottom: 0;
                @media all and (max-width: $mobile) {
                    display: none;
                }
            }
            .clippingPath {
                position: absolute;
                z-index: 50; 
                &.-top {
                  top: 0;
                  left: 0;
                  right: 0;
                  width: 105%;
                  max-width: 105%;
                  display: block;
                  @media all and (max-width: $mobile) {
                    display: none;
                  }
                }
                &.-bottom {
                  left: 0;
                  right: 0;
                  bottom: 0;
                  @media all and (max-width:$tablet) {
                    width: 105%;
                    max-width: 105%;
                    left: -2.5%;
                    bottom: -2px;
                  }
                }
                &.-middle {
                    @media all and (min-width: $mobile) {
                        display: none;
                    }
                }
            }
            &.no-img {
                .clippingPath {
                    &.-bottom {
                        @media all and (max-width: $mobile) {
                            display: none;
                        }
                    }
                    &.-middle {
                        @media all and (max-width: $mobile) {
                            bottom: calc(100vw / 10 * -1);
                        }
                    }
                }
            }
            .hero-image {
                @media all and (min-width: $mobile) {
                    display: none;
                }
                @media all and (max-width: $mobile) {
                    img {
                        display: block;
                        width: 100%;
                    }
                }
            }
        }
    }
    &.banner_content {
        .top,
        .bottom {
            background-size: cover;
            position: relative;
            width: 100%;
            height: 0;
            @media all and (max-width: $mobile) {
                width: 115%;
                left: -15%;
            }
        }
        .middle {
            position: relative;
            z-index: 10;
        }
    }
    .container {
        .flexible-content {
            width: 100%;
            .font-biggest, .text__xl {
                font-size: 3.1875rem;
                line-height: 3.885rem;
                margin: 1rem 0 1rem 0;
                font-weight: 500;
                @media all and (max-width: $tablet) { 
                    font-size: 2.25rem;
                    line-height: 2.4rem;
                }
                @media all and (max-width: $mobile) { 
                    font-size: 1.875rem;
                    line-height: 2.0625rem;
                    max-width: 100%;
                }
            }
            .font-bigger, .text__lg {
                font-size: 2.8125rem;
                line-height: 3.47rem;
                margin: 2rem 0;
                font-weight: $font-medium;
                @media all and (max-width: $tablet) { 
                    font-size: 1.6875rem;
                    line-height: 1.6875rem;
                    margin: 1rem 0;
                }
                @media all and (max-width: $mobile) { 
                    font-size: 1.5rem;
                    line-height: 1.6875rem;
                }
            }
            .font-weight-light {
                font-weight: 400;
            }
            .font-weight-bold {
                font-weight: 600;
            }
            .font-weight-extra-bold {
                font-weight: 800;
            }
            @media all and (min-width: $mobile) {
                span.br {
                    display: block;
                }
            }
            .eyebrow {
                border-bottom-width: 1px;
                border-bottom-style: solid;
                margin-bottom: 0;
                display: inline-block;
            }
            .subheading {
                margin-top: 0;
                font-size: $gutter * 1.5;
            }
            /** Content bands */
            &.hero {
                display: flex;
                flex-direction: column;
                justify-content: center;
                @media all and (min-width: $mobile) {
                    width: 50%;
                    align-self: flex-start;
                    min-height: $gutter * 12;
                }
                span.br {
                    display: block;
                }
                .content-wrapper {
                    margin-bottom: $gutter;
                }
                .btn {
                    margin-top: $gutter;
                    align-self: flex-start;
                }
                
            }
            &.heading {
                h1,h2,h3,h4,h5,h6 {
                    margin: 0;
                }
            }
            &.banner_content {

            }
            
        }
    }
    /* Alignment Adjustments */
    &.text-alignment-center {
        text-align: center;
        .flexible-content {
            &.hero {
                margin: 0 auto;
                .btn {
                    align-self: center;
                }
            }
        }
    }
}