@import 'variables';

section {
    &.block-style-light {
        h1,h2,h3,h4,h5,h6 {
            color: $pink;
        }
        .eyebrow {
            border-color: $dark-purple;
            color: $dark-purple;
        }
        .subheading {
            color: $dark-purple;
        }
        &.hero {
            &.style-cropped-wave {
                background: $pink;
                color: $white;
                h1,h2,h3,h4,h5,h6 {
                    color: $white;
                }
            }
        }
        &.blockquote {
            .blockquote {
                background: $pink;
                color: $white;
            }
        }
        .branded {
            .list-label {
                color: $dark-purple;
            }
        }
        .table {
            table {
                tr {
                    &:nth-child(odd) {
                        background: #a69ab7;
                    }
                    &:nth-child(even) {
                        background: #dbcae8;
                    }
                }
                th {
                    background: #662B8C;
                }
            }
        }
        &.banner_content {
            .middle {
                color: $white;
                background-color: $banner-light-bg;
                @media all and (min-width: $mobile) {
                    padding-top: 4%;
                }
                @media all and (max-width: $mobile) {
                    padding-top: 10%;
                }
                .eyebrow, h1, h2, h3,, h4, h5,h6, .subheading {
                    color: $white;
                }
                .eyebrow {
                    border-color: $white;
                }
            }
            .top {
                background-image: url('../img/bg/banner-light-top.png');
                padding-bottom: 15%;
                @media all and (max-width: $mobile) {
                    padding-bottom: 35%;
                }
            }
            .bottom {
                background-image: url('../img/bg/banner-light-bottom.png');
                padding-bottom: 27%;
                margin-top: -9%;
                @media all and (max-width: $mobile) {
                    padding-bottom: 57%;
                    margin-top: -20%;
                }
            }
        }
    }
    &.block-style-dark {
        .btn {
            background: $light-purple;
            &:hover,
            &:active,
            &:focus {
                background: $purple;
            }
        }
        .eyebrow {
            border-color: $dark-purple;
            color: $dark-purple;
        }
        &.blockquote {
            .blockquote {
                background: $light-purple;
                color: $white;
            }
        }
        .branded {
            .list-label {
                color: $list-label;
            }
        }
        .table {
            table {
                tr {
                    &:nth-child(odd) {
                        background: #a69ab7;
                    }
                    &:nth-child(even) {
                        background: #dbcae8;
                    }
                }
                th {
                    background: #662B8C;
                }
            }
        }
        &.hero {
            &.style-cropped-wave {
                background: $dark-purple;
                color: $white;
                h1,h2,h3,h4,h5,h6 {
                    color: $white;
                }
            }
            /*.background-image {
                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(255,255,255,.1);
                }
            }*/
        }
        &.banner_content {
            .spacer {
                background-color: $banner-dark-bg;
            }
            .middle {
                @media all and (min-width: $mobile) {
                    background-color: $banner-dark-bg;
                }
                @media all and (max-width: $mobile) {
                    &:before {
                        content: '';
                        background-image: url('../img/bg/banner-dark-top.jpg');
                        width: 100%;
                        height: 250px;
                        display: block;
                        background-position: bottom;
                    }
                    .spacer {
                        background-color: $banner-dark-bg;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        z-index: -1;
                    }
                    .container {
                        margin-top: -100px;
                        .right {
                            width: calc(100% + 3rem);
                            margin-left: -1.5rem;
                            margin-right: -1.5rem;
                            max-width: calc(100% + 3rem)!important;
                            background-color: $banner-bottom-bg;
                            .right-wrapper {
                                padding: 0 1.5rem;
                                margin-top: -25%;
                            }
                            &:before {
                                content: '';
                                display: block;
                                background-image: url('../img/bg/banner-dark-bottom-mobile.jpg');
                                background-size: cover;
                                height: 0;
                                padding-bottom: 50%;
                                width: 100%;
                                margin-top: -20px;
                            }
                            &:after {
                                content: '';
                                display: block;
                                background-image: url('../img/bg/banner-dark-bottom-mobile-2.jpg');
                                background-size: cover;
                                height: 60px;
                                width: 100%;
                            }
                        }
                    }
                    /*
                         }
                        .top {
                            background-image: url('../img/bg/banner-dark-top.jpg');
                            padding-bottom: 19.5%;
                            @media all and (max-width: $mobile) {
                                padding-bottom: 50%;
                            }
                        }
                        .bottom {
                            background-image: url('../img/bg/banner-dark-bottom.jpg');
                            padding-bottom: 28%;
                            margin-top: -12%;
                            @media all and (max-width: $mobile) {
                                padding-bottom: 55%;
                                margin-top: -43%;
                            }
                        }
                    } */
                }
            }
            .top {
                @media all and (min-width: $mobile) {
                    background-image: url('../img/bg/banner-dark-top.jpg');
                    padding-bottom: 19.5%;
                }
            }
            .bottom {
                @media all and (min-width: $mobile) {
                    background-image: url('../img/bg/banner-dark-bottom.jpg');
                    padding-bottom: 28%;
                    margin-top: -12%;
                }
            }
        }
    }
    &.block-style-dark-dartmouth,
    &.block-style-light-dartmouth {
        .banner-content {
            @media all and (min-width: $tablet) {
                &.align-top {
                    .left {
                        margin-top: 0px;
                    }
                }
                .right {
                    margin-bottom: 0px;
                }
            }
        }
        &.button-alternating-light {
            .btn {
                &:nth-of-type(odd) {
                    background: $darmouth-dark-green;
                    &:hover,
                    &:focus,
                    &:active {
                        background: $darmouth-light-green;
                    } 
                }
                &:nth-of-type(even) {
                    background: $darmouth-light-green;
                    &:hover,
                    &:focus,
                    &:active {
                        background: $darmouth-dark-green;
                    } 
                }
            }
        }
        &.button-alternating-dark {
            .btn {
                &:nth-of-type(odd) {
                    background: $darmouth-light-green;
                    &:hover,
                    &:focus,
                    &:active {
                        background: $darmouth-dark-green;
                    } 
                }
                &:nth-of-type(even) {
                    background: $darmouth-dark-green;
                    &:hover,
                    &:focus,
                    &:active {
                        background: $darmouth-light-green;
                    } 
                }
            }
        }
        .table {
            table {
                tr {
                    &:nth-child(odd) {
                        background: $darmouth-light-green;
                    }
                    &:nth-child(even) {
                        background: $dartmouth-lightest-green;
                        color: $white!important;
                    }
                }
                th {
                    background: $darmouth-dark-green;
                }
            }
        }
    }
    &.block-style-dark-dartmouth {
        h1,h2,h3,h4,h5,h6 {
            color: $darmouth-dark-green;
        }
        &.blockquote {
            .blockquote {
                background: $darmouth-dark-green;
                color: $white;
            }
        }
        .branded {
            .list-label {
                color: $darmouth-dark-green;
            }
        }
        .eyebrow {
            border-color: $darmouth-light-green;
            color: $darmouth-light-green;
        }
        .subheading {
            color: $darmouth-light-green;
        }
        &.hero {
            &.style-cropped-wave {
                background: $darmouth-dark-green;
                h1,h2,h3,h4,h5,h6 {
                    color: $white;
                }
                .btn {
                    background: $darmouth-light-green;
                    &:hover,
                    &:active,
                    &:focus {
                        background: $white;
                        color: $darmouth-dark-green!important;
                        
                    }
                }
            }
        }
        .btn {
            background: $darmouth-dark-green;
            &:hover,
            &:active,
            &:focus {
                background: $darmouth-light-green;
            }
        }
        
    }
    &.block-style-light-dartmouth {
        h1,h2,h3,h4,h5,h6 {
            color: $darmouth-light-green;
        }
        &.blockquote {
            .blockquote {
                background: $darmouth-light-green;
                color: $white;
            }
        }
        .branded {
            .list-label {
                color: $darmouth-light-green;
            }
        }
        .eyebrow {
            border-color: $darmouth-dark-green;
            color: $darmouth-dark-green;
        }
        .subheading {
            color: $darmouth-dark-green;
        }
        &.hero {
            &.style-cropped-wave {
                background: $darmouth-light-green;
                h1,h2,h3,h4,h5,h6 {
                    color: $white;
                }
                .btn {
                    background: $darmouth-dark-green;
                    &:hover,
                    &:active,
                    &:focus {
                        background: $white;
                        color: $darmouth-light-green!important;
                    }
                }
            }
        }
        .btn {
            background: $darmouth-light-green;
            &:hover,
            &:active,
            &:focus {
                background: $darmouth-dark-green;
            }
        }
    }
    /** Buttons **/
    &.button-style {
        &-normal {
            .btn {
                display: inline-block;
                padding: $gutter * .5 $gutter * 2.75;
                text-transform: uppercase;
                border-radius: $border-radius-lg;
                font-weight: $font-bold;
            }
        }
        &-arrow,
        &-arrow__large {
            .btn {
                &:after {
                    content: '';
                    background-image: url('../img/button-arrow.png');
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    width:20px;
                    height: 20px;
                }
            }
        }
        &-arrow {
            .btn {
                display: inline-block;
                padding: 1.5rem 4rem 1.5rem 2.5rem;
                border-radius: $border-radius-xl;
                position: relative;
                font-size: $gutter * 1.25;
                line-height: $gutter * 1.5625;
                &:after {
                    position: absolute;
                    right: 1.5rem;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
        &-arrow__large {
            .btn {
                display: inline-block;
                padding: 2.75rem 2rem 5.75rem 2rem;
                border-radius: $border-radius-lg;
                font-weight: $font-bold;
                position: relative;
                box-sizing: border-box;
                text-align: center;
                font-size: $gutter * 1.5;
                line-height: $gutter * 1.8125;
                &:after {
                    content: '';
                    background-image: url('../img/button-arrow.png');
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    position: absolute;
                    bottom: 2.75rem;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
    }
    /*alternating bg colors*/
    &.button-alternating-light {
        .btn {
            &:nth-of-type(odd) {
                background: $light-purple;
                &:hover,
                &:focus,
                &:active {
                    background: $purple;
                } 
            }
            &:nth-of-type(even) {
                background: $purple;
                &:hover,
                &:focus,
                &:active {
                    background: $light-purple;
                } 
            }
        }
    }
    &.button-alternating-dark {
        .btn {
            &:nth-of-type(odd) {
                background: $purple;
                &:hover,
                &:focus,
                &:active {
                    background: $light-purple;
                } 
            }
            &:nth-of-type(even) {
                background: $light-purple;
                &:hover,
                &:focus,
                &:active {
                    background: $purple;
                } 
            }
        }
    }
    /* Background Images */
    &.hero {
        &.style-full {
            @media all and (min-width: $tablet) {
                padding: $gutter * 10 0 $gutter * 20 0;
            }
            @media all and (max-width: $tablet) {
                padding: $gutter * 8 0 $gutter * 10 0;
            }
            @media all and (max-width: $mobile) {
                padding: $gutter * 6 0 $gutter * 6 0;
            }
            .background-image {
                position: absolute;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
            }
        }
        &.style-cropped-wave {
            @media all and (max-width: $mobile) {
                display: flex;
                flex-direction: column-reverse;
            }
            @media all and (min-width: $tablet) {
                padding: calc(100vw / 8) 0 calc(100vw / 6) 0;
            }
            @media all and (max-width: $tablet) {
                padding: calc(100vw / 8) 0 calc(100vw / 6) 0;
            }
            @media all and (max-width: $mobile) {
                padding: $gutter * 2 0 0 0;
            }
            .background-image {
                position: absolute;
                background-size: cover;
                background-repeat: no-repeat;
                width: 50%;
                height: 90%;
                left: 50%;
                bottom: 0;
                @media all and (max-width: $mobile) {
                    display: none;
                }
            }
            .clippingPath {
                position: absolute;
                z-index: 50; 
                &.-top {
                  top: -1px;
                  left: 0;
                  right: 0;
                  width: 105%;
                  max-width: 105%;
                  display: block;
                  @media all and (max-width: $mobile) {
                    display: none;
                  }
                }
                &.-bottom {
                  right: 0;
                  width: 105%;
                  max-width: 105%;
                  left: -2.5%;
                  bottom: -2px;
                }
                &.-middle {
                    @media all and (min-width: $mobile) {
                        display: none;
                    }
                }
            }
            &.no-img {
                .clippingPath {
                    &.-bottom {
                        @media all and (max-width: $mobile) {
                            display: none;
                        }
                    }
                    &.-middle {
                        @media all and (max-width: $mobile) {
                            bottom: calc(100vw / 11 * -1);
                        }
                    }
                }
                @media all and (max-width: $mobile) {
                    margin-bottom: calc(100vw / 10)!important;
                }
            }
            .hero-image {
                @media all and (min-width: $mobile) {
                    display: none;
                }
                @media all and (max-width: $mobile) {
                    img {
                        display: block;
                        width: 100%;
                    }
                }
            }
        }
    }
    &.banner_content {
        .top,
        .bottom {
            background-size: cover;
            position: relative;
            width: 100%;
            height: 0;
            z-index: 9;
            @media all and (max-width: $mobile) {
                width: 115%;
                left: -15%;
            }
        }
        .middle {
            position: relative;
            z-index: 10;
        }
    }
    &.call_wise {
        @media all and (min-width: $tablet) {
            padding: $gutter * 8 0;
        }
        @media all and (max-width: $tablet) {
            padding: $gutter * 6 0;
        }
        @media all and (max-width: $mobile) {
            padding: $gutter * 4 0;
        }
    }
    .container {
        .flexible-content {
            width: 100%;
            .font-biggest, .text__xxl {
                font-size: 3.1875rem;
                line-height: 3.885rem;
                margin: 1rem 0 1rem 0;
                font-weight: 500;
                @media all and (max-width: $tablet) { 
                    font-size: 2.25rem;
                    line-height: 2.4rem;
                }
                @media all and (max-width: $mobile) { 
                    font-size: 1.875rem;
                    line-height: 2.0625rem;
                    max-width: 100%;
                }
            }
            .font-bigger, .text__x {
                font-size: 2.8125rem;
                line-height: 3.47rem;
                margin: 2rem 0;
                font-weight: $font-medium;
                @media all and (max-width: $tablet) { 
                    font-size: 1.6875rem;
                    line-height: 1.6875rem;
                    margin: 1rem 0;
                }
                @media all and (max-width: $mobile) { 
                    font-size: 1.5rem;
                    line-height: 1.6875rem;
                }
            }
            .font-big, .text__lg {
                font-size: 2.5rem;
                line-height: 3.75rem;
                margin: 2rem 0;
                font-weight: $font-medium;
                @media all and (max-width: $tablet) { 
                    font-size: 1.6875rem;
                    line-height: 1.6875rem;
                    margin: 1rem 0;
                }
                @media all and (max-width: $mobile) { 
                    font-size: 1.5rem;
                    line-height: 1.6875rem;
                }
            }
            .font-normal {
                font-size: 1.875rem;
                line-height: 2.25rem;
                margin: 2rem 0;
                font-weight: $font-medium;
                @media all and (max-width: $tablet) { 
                    font-size: 1.6875rem;
                    line-height: 1.6875rem;
                    margin: 1rem 0;
                }
                @media all and (max-width: $mobile) { 
                    font-size: 1.5rem;
                    line-height: 1.6875rem;
                }
            }
            .font-weight-light {
                font-weight: 400;
            }
            .font-weight-bold {
                font-weight: 600;
            }
            .font-weight-extra-bold {
                font-weight: 800;
            }
            @media all and (min-width: $mobile) {
                span.br {
                    display: block;
                }
            }
            ul, ol {
                padding: 0;
                margin: 0;
                list-style-position: inside;
            }
            .eyebrow {
                border-bottom-width: 1px;
                border-bottom-style: solid;
                margin-bottom: 0;
                display: inline-block;
            }
            .subheading {
                margin-top: 0;
                font-size: $gutter * 1.5;
            }
            /** Buttons */
            .btn {
                cursor: pointer;
                color: $white!important;
                border: none;
                text-decoration: none;
                transition: 0.5s background-color;
                &:hover,
                &:focus,
                &:active {
                    color: $white;
                }
            }
            /** Content bands */
            &.hero {
                display: flex;
                flex-direction: column;
                justify-content: center;
                @media all and (min-width: $mobile) {
                    width: 50%;
                    align-self: flex-start;
                    min-height: $gutter * 12;
                }
                span.br {
                    display: block;
                }
                .content-wrapper {
                    margin-bottom: $gutter;
                    @media all and (min-width: $mobile) {
                        max-width: 65%;
                    }
                }
                .btn {
                    margin-top: $gutter;
                    align-self: flex-start;
                }
                
            }
            &.heading {
                h1,h2,h3,h4,h5,h6 {
                    margin: 0;
                    &.color-light {
                        color: $list-label;
                    }
                }
            }
            &.two-column-content {
                @media all and (min-width: $tablet) {
                    gap: $gutter * 4;
                }
                @media all and (max-width: $tablet) {
                    gap: $gutter * 2;
                }
            }
            &.cta-buttons {
                @media all and (min-width: $mobile) {
                    display: grid;
                    &.columns {
                        &-one {
                            grid-template-columns: 1fr;
                        }
                        &-two {
                            grid-template-columns: 1fr 1fr;
                            gap: $gutter * 2.5;
                        }
                        &-three {
                            grid-template-columns: 1fr 1fr 1fr;
                            gap: $gutter * 2;
                        }
                    }
                }
                @media all and (max-width: $mobile) {
                    .btn {
                        display: block;
                        margin-bottom: $gutter * 1.5;
                    }
                }
            }
            &.banner-content {
                @media all and (min-width: $tablet) {
                    gap: $gutter * 8;
                    &.align-top {
                        .left {
                            margin-top: -100px;
                        }
                    }
                    .right {
                        margin-bottom: -100px;
                    }
                }
                @media all and (max-width: $tablet) {
                    gap: $gutter * 3;
                    display: flex;
                    .contain-content {
                        flex: 1;
                    }
                }
                @media all and (max-width: $mobile) {
                    gap: $gutter * 2;
                    flex-direction: column;
                }
                .image {
                    img {
                        display: block;
                    }
                }
                &.image-align-center {
                    .image {
                        img {
                            margin: 0 auto;
                        }
                    }
                    @media all and (max-width: $tablet) {
                        .right {
                            text-align: center;
                        }
                    }
                }
                
            }
            &.call_wise {
                .btn {
                    margin-top: $gutter * 2;
                }
            }
            &.list {
                .list-label {
                    padding-right: 5px;
                }
                .traditional {
                    .list-label {
                        font-weight: $font-bold;
                    }
                }
                .branded {
                    li {
                        padding-bottom: 5px;
                        &:last-of-type {
                            padding-bottom: 0;
                        }
                    }
                }
                ul {
                    &.branded {
                        list-style: none;
                    }
                }
            }
            &.alternating-text-image {
                .row {
                    @media all and (min-width: $mobile) {
                        display: flex;
                        gap: $gutter * 3;
                        align-items: center;
                    }
                    margin-bottom: $gutter * 3;
                    .row-content {
                        @media all and (min-width: $mobile) {
                            width: 60%;
                            flex: 0 0 auto;
                        }
                    }
                }
                &.image-left {
                    .row {
                        &:nth-of-type(even) {
                            flex-direction: row-reverse;
                        }
                    }
                }
                &.image-right {
                    .row {
                        &:nth-of-type(odd) {
                            flex-direction: row-reverse;
                        }
                    }
                }
                @media all and (max-width: $mobile) {
                    .row {
                        flex-direction: column!important;
                    }
                }
            }
            &.table {
                table {
                    border-collapse: collapse;
                    margin: 0;
                    padding: 0;
                    width: 100%;
                    table-layout: fixed;
                    caption {
                        font-size: 1.5em;
                        margin: .5em 0 .75em;
                    }
                    tr {
                        &:nth-child(odd) {
                            color: $white;
                        }
                        &:nth-child(even) {
                            color: #662B8C;
                        }
                    }
                    th,
                    td {
                        padding: $gutter * .3 $gutter* .5;
                        text-align: left;
                        border: 1px solid $white;
                    }
                    th {
                        color: $white;
                        font-weight: $font-bold;
                    }
                    @media screen and (max-width: $mobile) {
                        border: 0;
                        caption {
                            font-size: 1.3em;
                        }
                        thead {
                            border: none;
                            clip: rect(0 0 0 0);
                            height: 1px;
                            margin: -1px;
                            overflow: hidden;
                            padding: 0;
                            position: absolute;
                            width: 1px;
                        }
                        
                        tr {
                            display: block;
                            
                        }
                        
                        td {
                            display: block;
                            font-size: .8em;
                            text-align: right;
                            &:before {
                                content: attr(data-label);
                                float: left;
                                font-weight: bold;
                                text-transform: uppercase;
                            }
                            :last-child {
                                border-bottom: 0;
                            }
                        }
                    }
                }
            }
            &.blockquote {
                padding: $gutter * 1.5 $gutter * 5;
                border-radius: $border-radius-lg;
                p {
                    &:first-of-type {
                        margin-top: 0;
                    }
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    /* Alignment Adjustments */
    &.text-alignment-center {
        text-align: center;
        .flexible-content {
            &.hero {
                margin: 0 auto;
                .btn {
                    align-self: center;
                }
            }
        }
    }
}