@import 'variables';
/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');*/
*, ::after, ::before {
    box-sizing: border-box;
}
*:focus {
    outline: none;
}
html,body {
    margin: 0;
    padding: 0;
}
html {
	scroll-behavior: smooth;
    font-size: 100%;
    height: 100%;
    @media (prefers-reduced-motion: reduce) {
        scroll-behavior: auto;
    }
}
body {
    background: $white;
    color: $body-font;
    font-size: .9375rem;
    line-height: 1.26rem;
    &.is-active {
        height: 100%;
        overflow: hidden;
    }
}
img {
    max-width: 100%;
    height: auto;
}
a,
a:visited {
    color: $dark-purple;
    font-weight: 400;
}
a:active,
a:focus,
a:hover {
    color: $light-purple;
}
.avatar {
    border-radius: 50%;
}
.text-center {
    text-align: center;
}
strong {
    font-weight: 500;
}
h1,
h2,
h3,
h4,
h5,
h6,
.bodoni {
    font-family: "bodoni-egyptian-pro", serif;
    font-weight: 400;
    color: $dark-purple;
}
@media all and (min-width: $mobile) {
    .line-break {
        display: block;
        height: 0;
        clear: both;
    }
}
.site {
    position: relative;
    margin: 0 auto;
    z-index: 1;
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Roboto', sans-serif;
    font-weight: $font-normal;
    overflow: hidden;
    font-size: 1rem;
    line-height: 1.7325rem;
    font-weight: 300;
    height: 100%;
    .button,
    .btn,
    .woocommerce-Button,
    button.button,
    .create-subgroup,
    .frm_button_submit,
    .ldgr-form button,
    .wysiwyg .submit,
    #commentform .submit {
        cursor: pointer;
        display: inline-block;
        padding: .75rem 2.75rem;
        text-transform: uppercase;
        color: $white!important;
        background: $purple;
        transition: 0.5s background-color;
        border-radius: $border-radius-lg;
        font-weight: $font-bold;
        border: none;
        text-decoration: none;
        &:hover,
        &:focus,
        &:active {
            background: $light-purple;
            color: $white;
        }
        &.btn-secondary {
            background-image: none!important;
            background-color: $light-purple;
            transition: .2s background-color;
            font-size: .79rem;
            box-shadow: none;
            border-radius: $border-radius-lg;
            padding: $gutter * .5 $gutter * 2!important;
            display: inline-block;
            margin-bottom: $gutter-sm / 2;
            text-align: center;
            &:hover,
            &:focus,
            &:active {
                background-color: $dark-blue!important;
            }
        }
        span {
            cursor: pointer;
        }
    }
    .has-btn-sm {
        .btn {
            padding: $gutter-sm $gutter;
        }
    }
    .clear {
        clear:both;
    }
    .rb-spacer {
        display: block;
    }
    .desktop-only,
    .tablet-only,
    .mobile-only {
        display: none!important;
    }
    @media all and (min-width: $tablet) {
        .desktop-only {
            display: block!important;
        }
    }
    @media all and (max-width: $tablet) and (min-width: $mobile) { 
        .tablet-only {
            display: block!important;
        }
    }
    @media all and (max-width: $mobile) { 
        .mobile-only {
            display: block!important;
        }
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        margin: 0 auto;
        padding: 0 $gutter-sm * 3;
        flex-direction: column;
        width: 100%;
        position: relative;
        max-width: $wrapper;
        &.container__xxs {
            max-width: $wrapper-xxs;
        }
        &.container__xs {
            max-width: $wrapper-xs;
        }
        &.container__sm {
            max-width: $wrapper-sm;
        }
        &.container__lg {
            max-width: $wrapper-lg;
        }
        &.container__xl {
            max-width: $wrapper-xl;
        }
        .container {
            width: 100%;
            padding: 0!important;
        }
        &.__header {
            flex-direction: row;
        }
        &.text-alignment-center {
            text-align: center;
        }
        &.text-alignment-right {
            text-align: right;
        }
        &.text {
            &__left {
                align-items: flex-start;
            }
        }
    }
    .skip-link {
        left: -9999rem;
        top: 2.5rem;
        z-index: 999999999;
        text-decoration: underline;
        &:focus {
            display: block;
            left: 6px;
            top: 7px;
            font-size: .75rem;
            font-weight: $font-bold;
            text-decoration: none;
            line-height: normal;
            padding: 15px 23px 14px;
            z-index: 100000;
            right: auto;
        }
        &.screen-reader-text {
            border: 0;
            clip: rect(1px, 1px, 1px, 1px);
            -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute !important;
            width: 1px;
            word-wrap: normal !important;
            word-break: normal;
            &:focus {
                background-color: #f1f1f1;
                border-radius: 3px;
                box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
                clip: auto !important;
                -webkit-clip-path: none;
                clip-path: none;
                color: #21759b;
                display: block;
                height: auto;
                right: 5px;
                line-height: normal;
                padding: 15px 23px 14px;
                text-decoration: none;
                top: 5px;
                width: auto;
                z-index: 100000;
            }
        }
    }
    .header {
        width: 100%;
        background: $white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 10;
        position: relative;
        @media all and (min-width: $tablet) {
            height: 5.3 * $gutter;
            margin: $gutter 0;
        }
        @media all and (max-width: $tablet) {
            height: $gutter * 6;
            width: 100%;
            overflow: hidden;
            overflow: visible;
            &.is-active {
                background: $darkest-purple;
                .site-branding {
                    opacity: 0;
                }
            }
            a {
                font-size: .675rem;
            }
        }
        .site-branding {
            height: 100%;
            opacity: 1;
            
            @media all and (min-width:$tablet) {
                margin-right: $gutter * 5;
            }
            @media all and (max-width:$tablet) {
                width:auto;
            }
            @media all and (max-width:$mobile) {
                width: 80%;
            }
            a {
                text-decoration: none;
            }
            h1 {
                margin: 0;
                height: 100%;
                width: auto;
                display: inline-block;
                @media all and (max-width: $tablet) {
                   display: flex;
                   align-items: center;
                }
                a {
                    img {
                        height: 100%;
                        width: auto;
                        margin-left: 0;
                        transition: .6s margin-left;
                        object-fit: contain;
                        display: block;
                        @media all and (max-width: $tablet) {
                            max-height: $gutter * 4;
                        }
                    }
                }
            }

        }
        .mobile-nav {
            display: none;
            position: relative;
            @media all and (max-width: $tablet) {
                display: flex;
                align-items: center;
                height: $gutter * 1.5;
                /*border-left: 1px solid $gray;*/
                width: $gutter * 1.5;
            }
            .nav-toggle {
                width: 100%;
                height: 100%;
                position: absolute;
                background: none;
                box-shadow: none;
                border: none;
                border-radius: 0;
                text-shadow: none;
                padding: 0;
                overflow: hidden;
                cursor: pointer;
                span {
                    display: block;
                    position: absolute;
                    /*left: $gutter-sm * 1.25;*/
                    right: 0;
                    width: $gutter * 1.5;
                    height: 1px;
                    background-color: $dark-gray;
                    transition: all .25s;
                    &:nth-child(1) {
                        transform:rotate(0) translateY(-0.5rem);
                    }
                    &:nth-child(2) {
                        transform: scale(1);
                    }
                    &:nth-child(2) {
                        transform:rotate(0) translateY(0.5rem);
                    }
                }
                &.is-active {
                    /*background: $body-font;*/
                    span {
                        background: $white;
                        &:nth-child(1) {
                            transform: rotate(45deg);  
                        }
                        &:nth-child(2) {
                            transform: scale(0); 
                        }
                        &:nth-child(3) {
                            transform: rotate(-45deg);  
                        }
                    }
                }
            }
        }
        .primary-navigation {
            /*width: 35%;*/
            flex: 1;
            padding: 0;
            @media (max-width: $tablet) {
                padding-left: $gutter;
            }
            .header-menu {
                font-weight: $font-bold;
                ul.menu-wrapper {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    position: relative;
                    @media all and (min-width: $tablet) {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }
                    li {
                        @media all and (min-width: $tablet) {
                            text-align: left;
                            position: relative;
                            list-style: none;
                            &.show-cart-count {
                                .text {
                                    display: none;
                                } 
                            }
                            &.highlight {
                                > a {
                                    background: $light-purple;
                                    border-radius: $border-radius-lg;
                                    color: $white!important;
                                    transition: .2s background-color;
                                    padding: $gutter * .65 $gutter * 2;
                                    &:hover,
                                    &:active,
                                    &:focus {
                                        color: $white;
                                        background: $dark-purple;
                                    }
                                }
                            }
                            ul.sub-menu {
                                position: absolute;
                                top: ($gutter * 2.5);
                                left: 50%;
                                transform: translateX(-50%);
                                padding: ($gutter-sm / 2) 0;
                                background: $gray;
                                border-radius: $border-radius-sm;
                                display: none;
                                &:before {
                                    content: '';
                                    width: 0; 
                                    height: 0; 
                                    border-left: $gutter-sm solid transparent;
                                    border-right: $gutter-sm solid transparent;
                                    border-bottom: $gutter-sm solid $gray;
                                    position: absolute;
                                    top: -($gutter-sm * .75);
                                    left: 50%;
                                    transform: translateX(-50%);  
                                }
                                li {
                                    white-space: nowrap;
                                    min-width: 150px;
                                    a {
                                        padding: ($gutter-sm / 4) $gutter;
                                        text-align: left;
                                    }
                                }
                            }
                            &:hover,
                            &:focus,
                            &:active {
                                ul.sub-menu {
                                    display: block;
                                }
                            }
                            &.is-active {
                                ul.sub-menu {
                                    display: block;
                                }
                            }
                        }
                        @media all and (max-width: $tablet) {
                            ul.sub-menu {
                                list-style: none;
                                max-height: 0px;
                                overflow: hidden;
                                transition: .2s max-height;
                                padding: 0;
                                a {
                                    padding-left: $gutter-sm * 3;
                                }
                            }
                            .menu-toggle {
                                mask: url('/wp-content/plugins/redeeming-babel-core/includes/feather/chevron-down.svg') no-repeat 100% 50%;
                                -webkit-mask: url('/wp-content/plugins/redeeming-babel-core/includes/feather/chevron-down.svg') no-repeat 100% 50%;
                                display: block;
                                position: absolute;
                                right: 0;
                                top: 50%;
                                width: $gutter * 3;
                                height: $gutter * 2;
                                margin-right: $gutter;
                                background-color: $dark-gray;
                                cursor: pointer;
                                pointer-events: all;
                                transform: scaleY(1) translateY(-50%);
                                transform-origin: top;
                                transition: .2s transform;
                            }
                            &.is-active {
                                .menu-toggle {
                                    transform: scaleY(-1) translateY(-50%)
                                }
                                .sub-menu {
                                    max-height: 500px;
                                }
                            }
                        }
                        a {
                            color: $black;
                            text-decoration: none;
                            @media all and (min-width: $tablet) {
                                font-size: $gutter;
                                line-height: $gutter;
                            }
                            position: relative;
                            @media all and (min-width: $tablet) {
                                text-align: center;
                                display: block;
                            }
                            &:hover,
                            &:focus,
                            &:active {
                                color: $dark-purple;
                            }
                        }
                        &.current-menu-item,
                        &.current-menu-parent,
                        &.current-menu-ancestor {
                            > a {
                                color: $dark-purple;
                            }
                        }
                    }
                }
                .social {
                    position: fixed;
                    bottom: $gutter-sm;
                    left: 0;
                    width: 100%;
                    text-align: center;
                }
            }
            @media all and (max-width: $tablet) {
                position: absolute;
                top: $gutter * 4;
                transition: none;
                /*left: -351px;
                width: 350px;
                @media all and (max-width: $mobile) {
                    left: -100%;
                    width: 100%;
                }*/
                left: -100%;
                width: 100%;
                max-width: 100%;
                padding: 0;
                z-index: -1;
                
                background: $darkest-purple;
                flex: 0 0 100%;
                height: calc(100vh - 4rem);
                overflow: auto;
                &.is-active {
                    left: 0;
                    z-index: 99;
                }
                .header-menu {
                    padding: $gutter;
                    a {
                        padding: $gutter $gutter-sm * 3;
                        display: block;
                        font-size: $gutter * 1.25;
                        font-family: "bodoni-egyptian-pro", serif;
                        font-weight: 400;
                        position: relative;
                        color: $white!important;
                    }
                }
            }
        }
        
    }
    .content {
        background: #fff;
        min-height: calc(100vh - 300px); /* TODO: Convert to rem? */
        @media all and (max-width: $tablet) {
            min-height: calc(100vh - 212px); /* TODO: Convert to rem? */
        }
        @media all and (max-width: $mobile) {
            min-height: calc(100vh - 509px); /* TODO: Convert to rem? */
        }
        transition: .2s opacity;
        &.is-inactive {
            opacity: .3;
            a {
                pointer-events: none;
            }
        }
        .ss-inline-share-wrapper {
            display: none!important;
        }
        .ldgr-group-code-enrollment-form-container {
            .ldgr-form-field {
                input[type=text] {
                    background: $white;
                    color: $traditional-gray;
                    border: none;
                    padding: $gutter-sm;
                    font-size: .9375rem;
                    border-radius: $border-radius-sm;
                }
            }
        }
        &.woocommerce-account {
            background-color: $gray-bg;
            padding-top: $gutter * 2;
            @media all and (min-width: $tablet) {
                .woocommerce {
                    display: grid;
                    grid-template-columns: 25% 1fr;
                    grid-gap: $gutter * 2;
                }
            }
        }
        &.woocommerce-shop {
            background-color: $gray-bg;
            padding-top: 0;
            .before-woocommerce-shop {
                background-color: $white;
                padding: $gutter 0 (2 * $gutter);
                @media all and (max-width: $tablet) {
                    padding: (2 * $gutter) 0;
                }
                @media all and (max-width: $mobile) {
                    padding: $gutter 0;
                }
            }
            .woocommerce {
                padding: ($gutter-sm * 3) 0 $gutter 0;
                @media all and (max-width: $mobile) {
                    padding: 0;
                }
                .products {
                    @media all and (min-width: $tablet) {
                        gap: $gutter * 5;
                    }
                }
            }
        }
        /* Fix to bootstrap plugin */
        .container {
            .row {
                width: 100%;
                .woocommerce-form {
                    .form-row {
                        margin-left: 0;
                        margin-right: 0;
                    }
                }
            }
        }
        input[type=text],
        input[type=email],
        input[type=tel],
        input[type=password],
        textarea {
            width: 100%;
            background: $white;
            border: 1px solid $dark-gray;
            border-radius: $border-radius-sm;
            padding: $gutter / 2;
        }
        @media all and (max-width: $mobile) {
            input[type=text],
            input[type=email],
            input[type=tel],
            input[type=password],
            input[type=submit] {
                -webkit-appearance: none;
            }
        }
        .page-title {
            color: $body-font;
            display: flex;
            width: 100%;
            align-items: center;
            align-content: center;
            flex-direction: column;
            h1 {
                display: block;
                width: 100%;
                font-size: 1.875rem;
                margin: 0;
            }
            h2 {
                margin: 1rem 0 0 0;
            }
            @media all and (max-width: $mobile) {
                h1 {
                    font-size: 1.125rem;
                }
            }
        }
        .container-content {
            width: 100%;
        }
        .archive {
            .heading {
                padding: 0rem 0 1rem 0;
            }
        }
        section {
            &.bg {
                &__green {
                    background-color: $green;
                }
                &__no-repeat {
                    background-repeat: no-repeat;
                }
                &__middle {
                    background-position-y: center;
                }
                &__right {
                    background-position-x: right;
                }
            }
            &.padding {
                &__xl {
                    padding-top: $gutter * 5;
                    padding-bottom: $gutter * 5;
                }
                &__lg {
                    padding-top: $gutter * 4;
                    padding-bottom: $gutter * 4;
                }
                &__md {
                    padding-top: $gutter * 2;
                    padding-bottom: $gutter * 2;
                }
                &__sm {
                    padding-top: $gutter * 2;
                    padding-bottom: $gutter * 2;
                }
                &__xs {
                    padding-top: $gutter;
                    padding-bottom: $gutter;
                }
            }
            &.section {
                &__search_form {
                    #searchform {
                        @media all and (max-width: $mobile) {
                            width: 100%;       
                        }
                    
                        @media all and (min-width: $mobile) {
                            display: flex;
                        }
                        input {
                            font-size: 1.25rem;
                            border-radius: $border-radius-md!important;
                            padding: $gutter * 1.5 $gutter * 2;
                        }   
                        input[type=text] {
                            flex: 1;
                            @media all and (min-width: $mobile) {
                                border-top-right-radius: 0px!important;
                                border-bottom-right-radius: 0px!important;
                            }
                            border: none;
                        }
                        input[type=submit] {
                            border: none;
                            cursor: pointer;
                            @media all and (min-width: $mobile) {
                                border-top-left-radius: 0px!important;
                                border-bottom-left-radius: 0px!important;
                            }
                            padding: $gutter ($gutter * 3)!important;
                            background-color: $orange!important;
                            font-size: 1.25rem;
                            color: $white!important;
                            @media all and (max-width: $mobile) {
                                width: 100%;
                                margin-top: $gutter-sm;
                                display: block;
                            }
                            &:hover,
                            &:active,
                            &:focus {
                                background-color: $dark-orange!important;
                            }
                        }
                        
                    }
                }
                &__search_results {
                    .contain-content {
                        max-width: 100%!important;
                        padding-right: 0!important;
                        padding-left: 0!important;
                        a {
                            h1,h2,h3,h4,h5,h6 {
                                color: $orange!important; 
                            }
                        }
                    }
                }
                &.post-pw-protected {
                    .post-password-form {
                        .pw-inputs {
                            @media all and (min-width: $mobile) {
                                display: flex;
                                input[type=password] {
                                    border-top-left-radius: $border-radius-md;
                                    border-bottom-left-radius: $border-radius-md;
                                    border-top-right-radius: 0;
                                    border-bottom-right-radius: 0;
                                    flex: 1;
                                }
                                .btn {
                                    border-top-left-radius: 0;
                                    border-bottom-left-radius: 0;
                                    border-top-right-radius: $border-radius-md;
                                    border-bottom-right-radius: $border-radius-md;
                                    margin-top: 0!important;
                                }
                            }
                        }
                    }
                }
            }
            &.text {
                &__light {
                    color: $white;
                }
            }
            > h2 {
                margin-top: 0;
            }
        }
       
        
        .blog-posts {
            &:not(.type-podcast) {
                background: $gray-bg;
            }
            .blog-post {
                &:first-of-type {
                    padding-top: $gutter * 3;
                }
                &:last-of-type {
                    padding-bottom: $gutter * 3;
                }
            }
            .blog-navigation {
                padding-bottom: $gutter * 5;
                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    li {
                        display: inline-block;
                        a {
                            background: $blog-nav;
                            transition: .2s background;
                            border-radius: $border-radius-md;
                            color: $white!important;
                            text-decoration: none;
                            font-size: .7969rem;
                            height: $gutter-sm * 2.5;
                            min-width: $gutter-sm * 2.5;
                            display: inline-block;
                            font-weight: $font-medium;
                            text-align: center;
                            line-height: $gutter-sm * 2.5;
                            margin-right: $gutter-sm / 3;
                            margin-bottom: $gutter-sm / 3;
                            &:hover,
                            &:focus,
                            &:active {
                                background: $blog-nav-hover;
                            }
                        }
                        &.active {
                            a {
                                background: $blog-nav-hover!important;
                            }
                        }
                        &.previous,
                        &.next {
                            a {
                                padding-left: $gutter;
                                padding-right: $gutter;
                            }
                        }
                    }
                }
            }
        }
    }
    .footer {
        color: $dark-purple;
        position: relative;
        z-index: 3;
        .container {
            padding-top: $gutter * 5;
            @media all and (min-width: $mobile) {
                padding-bottom: $gutter * 14;
            }
            @media all and (max-width: $mobile) {
                padding-bottom: $gutter * 8;
            }
            .line {
                display: flex;
                justify-content: space-between;
                gap: $gutter;
                font-size: $gutter * 1.2;
                font-weight: $font-bold;
                margin: $gutter 0;
                width: 100%;
                @media all and (max-width: $mobile) {
                    flex-direction: column;
                    margin-bottom: 0;
                    text-align: center;
                }
                span {
                    padding-right: 5px;
                    @media all and (max-width: $mobile) {
                        display: block
                    }
                }
            }
        }
        a {
            color:  $black;
            font-weight: $font-bold;
            text-decoration: none;
            &:hover,
            &:focus,
            &:active {
                text-decoration: underline;
            }
        }
        .rb-logo {
            @media all and (min-width: $tablet) {
                flex: 1;
            }
            @media all and (max-width: $tablet) and (min-width: $mobile) {
                padding-right: $gutter;
            }
            img {
                width: 100px;
                display: block;
                @media all and (max-width: $mobile) {
                    margin: 0 auto $gutter auto;
                }
            }
        }
        .footer-right {
            flex: 1;
            @media all and (min-width: $tablet) {
                width: 50%;
            }
            @media all and (min-width: $mobile) {
                align-items: end;
                display: flex;
                flex-direction: column;
            }
            ul {
                list-style: none;
                margin: 0;
                padding: 0 0 $gutter-sm 0;
                @media all and (max-width: $tablet) {
                    padding: 0;
                }
                @media all and (max-width: $tablet) and (min-width: $mobile) {
                    text-align: left;
                }
                li {
                    @media all and (min-width: $mobile) {
                        display: inline-block;
                    }
                    a {
                        text-decoration: none;
                        &:hover,
                        &:focus,
                        &:active {
                            text-decoration: underline;
                        }
                        span {
                            padding: $gutter-sm;
                            @media all and (max-width: $mobile) {
                                display: none;
                            }
                        }
                    }
                    &:last-child {
                        a {
                            span {
                                display: none;
                            }
                        }
                    }
                }
            }
            .site-info {
                padding-top: $gutter-sm;
                display: flex;
                @media all and (max-width: $mobile) {
                    flex-direction: column;
                }
                div {
                    display: inline-block;
                    &.site-name {
                        font-size: .75rem;
                        line-height: $gutter;
                    }
                }
            }
        }
    }
    #sticky-nav {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 99;
        .toggle {
            height: 40px;
            background: $white;
            position: absolute;
            top: -40px;
            z-index: 98;
            cursor: pointer;
            &:not(.text) {
                &:not(.close) {
                    width: 60px;
                    text-align: center;
                    right: 0px;
                    span {
                        transform: scaleY(1);
                        transform-origin: center;
                        transition: .2s transform;
                    }
                }
            }
            &.text {
                left: 0px;
                padding: 5px $gutter * 2;
                font-weight: $font-bold;
                color: $purple;
                text-transform: uppercase;
                line-height: 30px;
                transition: .3s top;
                transition-delay: 300ms;
                @media all and (max-width: $mobile) {
                    display: none;
                }
            }
            &.close {
                top: 0;
                transition: .1s top;
                left: 0;
                width: 30px;
                text-align: center;
                color: $white;
                z-index: 100;
                background: transparent;
                opacity: 0;
                transition: .2s opacity;
            }
        }
        .expanded-content {
            background: $tan;
            max-height: 0px;
            transition: .3s max-height ease-in;
            overflow: hidden;
            position: relative;
            z-index: 99;
            .content-container {
                padding: $gutter * 2;
                align-items: flex-start;
                display: flex;
                @media all and (min-width: $mobile) {
                    gap: $gutter * 3;
                }
                @media all and (max-width: $mobile) {
                    flex-direction: column;
                    gap: $gutter;
                }
                color: $purple;
                .sticky-heading {
                    font-weight: $font-bold;
                    text-transform: uppercase;
                }
                .sticky-menu {
                    /*flex: 1;*/
                    ul {
                        margin: 0;
                        padding: 0;
                        list-style: none;
                        @media all and (min-width: $mobile) {
                            column-count: 2;
                            gap: $gutter * 3;
                        }
                        a {
                            color: $purple;
                        }
                    }
                }
                .contact {
                    @media all and (min-width: $mobile) {
                        display: none;
                    }
                    a {
                        color: $purple;
                    }
                }
            }
        }
        .sticky-content {
            background: $purple;
            color: $white;
            font-weight: $font-bold;
            display: flex;
            align-items: center;
            z-index: 99;
            position: relative;
            @media all and (max-width: $mobile) {
                flex-direction: column;
            }
            .contact {
                flex: 1;
                display: flex;
                gap: $gutter * 2;
                @media all and (min-width: $mobile) {
                    padding-left: $gutter * 2;
                }
                @media all and (max-width: $mobile) {
                    /*flex-direction: column;
                    text-align: center;
                    width: 100%;
                    gap: 0;
                    padding: $gutter * .5;*/
                    display: none;
                }
                a {
                    &:hover,
                    &:focus,
                    &:active {
                        text-decoration: underline;
                    }
                }
            }
            .actions {
                display: flex;
                @media all and (max-width: $mobile) {
                    width: 100%;
                    a {
                        flex: 1;
                        text-align: center;
                        
                    }
                }
            }
            a {
                color: $white;
                text-decoration: none;
                &:active,
                &:focus,
                &:hover {
                    color: $white;
                }
                &.openchat {
                    padding: $gutter $gutter * 2;
                    background: $light-purple;
                }
                &.exitsite {
                    @media all and (min-width: $mobile) {
                        padding: $gutter $gutter * 3 $gutter $gutter * 2;
                    }
                    @media all and (max-width: $mobile) {
                        padding: $gutter $gutter * 2;
                    }
                    background: $pink;
                }
                &.openchat,
                &.exitsite {
                    transition: .2s color;
                    &:hover,
                    &:focus,
                    &:active {
                        color: $black;
                    }
                }
            }
        }
        &.is-active {
            .toggle {
                &:not(.close) {
                    span {
                        transform: scaleY(-1);
                        /*top: 0;
                        color: $white;*/
                    }
                }
                &.text {
                    top: 0;
                    transition-delay: 50ms;
                }
                &.close {
                    opacity: 1;
                }
            }
            .expanded-content {
                max-height: 600px;
            }
        }
    }
    .social {
        a {
            display: inline-block!important;
            padding: 0!important;
            width: $gutter;
            height: $gutter;
            line-height: $gutter;
            text-align: center;
            overflow: hidden;
            text-indent: -999px;
            margin-right: $gutter;
            background-size: $gutter;
            background-repeat: no-repeat;
            background-position: center;
            transition: .2s opacity;
            opacity: 1;
            &:hover,
            &:focus,
            &:active {
                opacity: .7;
            }
            @media all and (max-width: $mobile) {
                margin: 0 $gutter-sm;
            }
            
            &.twitter {
                background-image: url('../img/twitter.png');
            }
            &.facebook {
                background-image: url('../img/facebook.png');
            }
            &.instagram {
                background-image: url('../img/instagram.png');
            }
        }
    }
}

.modal-register {
    position: fixed;
    
    width: 600px;
    max-width: 90%;
    
    z-index: 100;
    border-radius: $border-radius-md;
    color: $white;
    background-color: $green;
    border: 1px solid $green;
    background-image: url('../img/bg/green-swirl-3.png');
    background-position: right -8rem;
    background-size: 90%;
    background-repeat: no-repeat;
    max-height: 750px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    opacity: 0;
    display: none;
    transition: 1s opacity,1s height;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    &.is-loading {
        
            display: block;
        
    }
    &.is-active {
        opacity: 1;
    }
    .heading {
        flex: 1;
    }
    .register {
        margin-top: 3rem;
        width: 100%;
        border: none!important;
        padding: 0!important;
        &.labels-hide {
            label:not(.checkbox) {
                display: none;
            }
        }
        input:not([type=checkbox]), button {
            font-size: 1.25rem;
            border-radius: $border-radius-md!important;
            padding: $gutter * 1.5 $gutter * 2;
            border: none;
            width: 100%;
        } 
        button {
            &.submit {
                color: $white;
                cursor: pointer;
                background-color: $orange!important;
                @media all and (max-width: $mobile) {
                    width: 100%;
                    margin-top: $gutter-sm;
                    display: block;
                }
                &:hover,
                &:active,
                &:focus {
                    background-color: $dark-orange!important;
                }
            }
        }
        a {
            color: $white;
        }
        .extra-details {
            display: none;
        }
        &.is-active {
            .extra-details {
                display: block;
            }
        }
    
    }
    .subscribe {
        color: $white;
        cursor: pointer;
        background: $orange!important;
        box-shadow: none!important;
        display: block;
        text-align: center;
        margin: $gutter auto;
        width: 90%;
        @media all and (max-width: $mobile) {
            width: 100%;
            margin-top: $gutter-sm;
            display: block;
        }
        &:hover,
        &:active,
        &:focus {
            background: $dark-orange!important;
        }
    }
    .close-subscribe-modal {
        font-size: .9rem;
        text-decoration: underline;
        text-align: center;
        cursor: pointer;
        margin-top: $gutter * .75;
        &:hover,
        &:focus,
        &:active {
            text-decoration: none;
        }
    }
    &__bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,.6);
        z-index: 99;
        opacity: 0;
        display: none;
        transition: 1s opacity;
        &.is-loading {
            display: block;
        }
        &.is-active {
            opacity: 1;
        }
    }
}

.maintenance {
    position: fixed;
    top: 30%;
    left: 50%;
    width: 600px;
    max-width: 90%;
    transform: translate(-50%,-50%);
    z-index: 102;
    &-bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 101;
        background: $white;
    }
    img {
        max-height: 75px;
        width: auto;
    }
}

.single-sfwd-courses {
    .woocommerce-message {
        margin-bottom: 0px!important;
    }
}
.header-exit {
    @media all and (min-width: $tablet) {
        display: none!important;
    }
    @media all and (max-width: $tablet) {
        position: absolute;
        right: 65px;
        z-index: 100;
        font-size: $gutter * .75!important;
        background: $light-purple!important;
        padding: $gutter * .3 $gutter * 1.5!important;
        &:hover,
        &:active,
        &:focus {
            background-color: $purple!important;
        }
    }
}
.transparent-header {
    .site {
        .header {
            background: transparent!important;
            position: absolute;
        }
        .content {
            section {
                &:first-of-type {
                    /*padding-top: $gutter * 8!important;*/
                }
            }
        }
    }
    &.is-active {
        .site {
            .header {
                background: $darkest-purple!important;
            }
        }
    }
}